body {font-family: $primary-font; font-size: $font-size; line-height: $line-height; color: $text-color;}
.container {width: 978px; margin: 0 auto; position: relative;}
.right {float: right;}
.left {float: left;}
.clear {clear: both;}
.none {display: none;}
a {color: $link; text-decoration: none; @include transition(all);
	&:hover {color: $link-hover; @include transition(all);}
	img {outline: none; border: none;}
}
h1 {font-family: $secondary-font; font-size: $h1-size; line-height: 1em; color: $h1; font-weight: 400;}
h2 {font-family: $primary-font; font-size: $h2-size; line-height: 1em; color: $h2; font-weight: 400;}
h3 {font-family: $tertiary-font; font-size: $h3-size; line-height: 1em; color: $h3; font-weight: 400;}