// *-------- Fonts --------*
$primary-font: "Open Sans", helvetica, arial, sans-serif;
$secondary-font: "Lato", verdana, tahoma, sans-serif;
$tertiary-font: "Oswald", verdana, tahoma, sans-serif;


// *-------- Colors --------*

// General
$black: #000;
$white: #fff;
$bg: #21759b;

// Typography
$text-color: #464646; // used for main body text
$h1: #fefefe; // used for <h1>'s
$h2: #d54e21; // used for <h2>'s
$h3: #d54e21; // used for <h3>'s
$link: #21759b; // main link color
$link-hover: #d54e21; // main link hover color

// Shadows - used for box and text shadows
$shadow-25: rgba(0,0,0, .25);
$shadow-50: rgba(0,0,0, .50);
$shadow-75: rgba(0,0,0, .75);
$shadow-100: rgb(0,0,0);



// *-------- Units --------*/

// Typography
$font-size: 1rem; // used for main body text
$line-height: 1.2rem; // used for line-height on main body text
$h1-size: 4rem; // used for size of content <h1>
$h2-size: 2.5rem; // used for size of content <h2>
$h3-size: 1.5rem; // used for size of content <h3>