// Partials
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_globals.scss";



/*---- Home Page ----*/
.splash {text-align: center; margin: 30px auto 110px;
	.wp-logo {margin: 0 0 30px;}
	h1 {margin: 0 0 40px;
		span {font-weight: 700;}
	}
	form {position: relative; left: 15%;
		input[type="email"] {outline: none; border: 1px solid #fefefe; background: $white; font-family: $primary-font; font-size: 1.2rem; font-weight: 300; font-style: italic; color: $text-color; width: 50%; padding: 8px 1%; box-shadow: 0 0 5px $shadow-50;
			&:focus {}
		}
		input[type="submit"] {-webkit-appearance: none; border-radius: 0; outline: none; border: none; font-family: $primary-font; font-size: 1.2rem; font-weight: 700; color: $white; text-transform: uppercase; padding: 9px 1%; cursor: pointer; background: $h2; width: 15%; position: relative; left: 2%; @include transition(all);
			&:hover {background: lighten($h2, 10%); @include transition(all);}
		}
	}
}
.center {text-align: center;}
.bigger {font-size: 1.2rem; line-height: 1.8rem; font-style: italic;}



/*---- Footer ----*/
.footer {text-align: center; font-size: .875rem; margin: 30px 0; font-style: italic;}